#info {
  display: none;

  background-color: #1b1919;
  padding: 1em;
  border-radius: 3px;
  margin-top: 1em;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #8b7b7b;
  }

  h4 ~ strong {
    display: block;
    margin-top: 1em;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}


