.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.leaflet-container {
  background-color: rgba(0,0,0,0.32);
}

/* 
.leaflet-tile {
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
} */
