html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.left-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  background-color: #242121;
  border-right: 1px solid #302c2c;
  padding: 20px;
  color: white;
  font-size: 13px;
  line-height: 1.4;
}

.left-main {
  flex-grow: 1;
}

.right-pane {
  position: absolute;
  top: 0;
  right: 0;
  left: 300px;
  height: 100%;
  overflow: hidden;
}

.logo-img {
  width: 100%;
}

.logo-img + h3 {
  margin-top: 0;
}

.notice {
  padding: 1em;
  margin-top: 1em;
  background-color: #1b1919;
  border-radius: 3px;
}

.notice h4 {
  margin-top: 0;
}

.notice p {
  margin-bottom: 0;
}

.notice a,
.notice a:visited,
.notice a:active,
.notice a:hover {
  color: white;
}

